// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
#mini-profile
{
	background-image: url('/images/laptop-lap-desk.jpg');
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100%;
	background-repeat: no-repeat;
}
#mini-profile-area
{
	padding: 5% 5% 0 70%;
}
#mini-profile-box
{
	padding: 20px;
	background-color: #e8e8e8ab;
  border-radius: 15px;
  color: rgb(105, 105, 105);

  #my-name
	{
		font-family: 'Courier New', monospace;
	}
}

@media (max-width: 575px)
{
 #mini-profile-box #my-name
	{
		font-size: 25px;
		#my-profession
		{
			font-size: 15px;
		}
	}
}
@media (min-width: 576px) 
{
    #mini-profile-box #my-name
		{
			font-size: 45px;
			#my-profession
			{
				font-size: 25px;
			}
		}
}
@media (min-width: 992px) 
{
    #mini-profile-box #my-name
		{
		  font-size: 65px;
		  #my-profession
			{
				font-size: 45px;
			}
		}
}
@media (min-width: 1200px) 
{
	#mini-profile-box #my-name
	{
	  font-size: 75px;
  	#my-profession
		{
			font-size: 55px;
		}
	}
}
.btn-grey
{
	padding: 10px;
	margin: 10px;
	background-color: transparent;
  border: 1px solid  rgb(105, 105, 105);
  color:  rgb(105, 105, 105);

  &:hover
  {
  	background-color: rgb(105, 105, 105);
	  color: rgb(255, 255, 255);
  }
}

.center-element
{
	text-align: center;
}